{{#if news}}
  <div class='row'>
    {{#each news}}
      <div class='col-lg-6'>
        <div class='card'>
          <img
            src='http://localhost:3000/{{this.thumbnail}}'
            class='card-img-top'
            style='height: 200px; object-fit: cover;'
            alt='thumbnail'
          />
          <div class='card-body'>
            <h5 class='card-title'>{{this.title}}</h5>
            <h6 class='card-subtitle mb-2 text-muted'>
              Автор:
              {{this.author}}
            </h6>
            <h6 class='card-subtitle mb-2 text-muted'>
              Дата создания:
              {{this.date}}
            </h6>
            <p class='card-text'>{{this.text}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <h1>Список новостей пуст!</h1>
{{/if}}